In [2]:
import math
math.pow(2,3)

8.0

In [6]:
names = ["Ravi", "Pooja", "mira"]
hello = ["Hello" + " " + name for name in names]
print(hello)

['Hello Ravi', 'Hello Pooja', 'Hello mira']

In [8]:
with open("myfile.text", "w") as f:
    f.write("This is my first line \n")
    f.write("This is my second line \n")
    f.write("This is my third line \n")

In [9]:
with open("myfile.text", "r") as f:
    for line in f:
        print(line)

This is my first line

This is my second line

This is my third line

In [10]:
f.close()

In [11]:
def name_of_function(arg1, arg2):
    '''
    This is where the functions Document String (doc-string) goes
    '''

In [12]:
def say_hello():
    print("Hello")

In [13]:
say_hello()

Hello

In [15]:
# Default Arguments
def double_the_number(num=1):
    return num*2

In [17]:
print(double_the_number(2))

4

In [18]:
# Positional Arguments
def double_the_number(num):
    return num*2

In [23]:
print(double_the_number([2,3]))

[2, 3, 2, 3]

In [24]:
# Positional Arguments
def double_the_number(nums):
    return [num*2 for num in nums]

In [25]:
print(double_the_number([2,3]))

[4, 6]

In [26]:
def database_columns(*args):
    for arg in args:
        print(arg)

In [27]:
database_columns("Name", "Age", "Height")

Name
Age
Height

In [28]:
def database_columns(**kwargs):
    for value in kwargs.items():
        print(value)

In [29]:
database_columns(name = "Dinesh", Age = 23)

('name', 'Dinesh')
('Age', 23)

In [30]:
# Lambda Functions
square_lambda = lambda num: num ** 2

In [32]:
square_lambda(2)

4

In [35]:
class sample():
    pass

x = sample()
print(type(x))

<class '__main__.sample'>

In [36]:
# Defining the class Attributes
class Dog(object):
    def __init__(self, breed):
        self.breed = breed

In [38]:
sam = Dog(breed = "Lab") # Instance

In [40]:
print(sam.breed)

Lab

In [41]:
class circle(object):
    pi = 3.14
    def __init__(self,radius=1):
        self.radius = radius
    def area(self):
        return self.radius * self.radius * circle.pi

In [48]:
class student():
    school_name = "ABC School"

    def __init__(self,name,age):
        self.name = name
        self.age = age

    def show(self):
        return(self.name, self.age, student.school_name)

    @classmethod
    def change_school(cls, name):
        cls.school_name = name

    @staticmethod
    def find_notes(subject_name):
        return ['chapter 1', 'chapter 2', 'chapter 3']

In [49]:
dinesh = student("Dinesh", 24)

In [50]:
dinesh.show()

('Dinesh', 24, 'ABC School')

In [51]:
student.change_school("XYZ School")

In [52]:
dinesh.show()

('Dinesh', 24, 'XYZ School')